/*name colors*/

#mikey{
    color: rgb(255, 0, 0);
}

#turner{
    color: #2c36c1;
}

#esmee{
    color: hsl(286, 100%, 50%);
}

#ned{
    color: darkorange;
}

#lucius{
    color: black;
}

#leanne{
    color: color(from rgb(33, 159, 33) xyz x y z);
}

#lilliana{
    color: color-mix(in srgb, red, pink);
}

/*end of name colors*/

:root{
    --main-bg-color: rgb(141, 102, 66);
    --main-text-color: rgb(79, 49, 25);
    --main-border-color: gold;
}

body{
    background-color: var(--main-bg-color);
}

.section-titles{
    color: var(--main-text-color);
    text-decoration: underline;
}

h1{
    font-size: 50px;
    height: 5vh;
}

h2{
    font-size: 40px;
    height: 3vh;
}

h2:active{
    font-size: 50px;
}

h3{
    font-size: 30px;
    color: var(--main-text-color);
}

ul{
    font-size: 12pt;
    color: var(--main-text-color);
}

ol{
    font-size: 1pc;
    color: var(--main-text-color);
}

ul > li{
    font-size: 125%;
    color: var(--main-text-color);
}

ol li{
    font-size: 125%;
    color: var(--main-text-color);
}

p{
    font-size: 1.25em;
    color: var(--main-text-color);
}

hr{
    background-color: rgb(99, 59, 27);
    border-width: 3px;
    border-color: rgb(98, 59, 27);
}

header{
    margin: 10vh;
    text-align: center;
    color: rgb(54, 30, 10);
    display: block;
}

nav{
    padding: 10vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: rgb(215, 185, 149);
    border-style: ridge;
    border-color: var(--main-border-color);
    border-width: 12px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

ul.sections{
    display:flex;
    flex-direction: column;
    row-gap: 20px;
}

h2 ~ details{
    color: var(--main-text-color);
}

#split-diagram{
    border-style: ridge;
    border-color: rgb(98, 59, 27);
    border-width: 12px;
    border-radius: 20px;
    width: 50%;
    height: 50%;
    position: relative;
}

#split-diagram:hover{
    width: 100%;
    height: 100%;
}

#monkey-video{
    border-style: ridge;
    border-color: rgb(98, 59, 27);
    border-width: 12px;
    border-radius: 20px;
    max-width: 1000%;
    min-width: 0%;
    width: 50%;
    height: 50%;
    position: static;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul[id="names"]{
    display: grid;
    justify-items: left;
    grid-template-columns: auto auto auto auto;
    row-gap: 20px;
    column-gap: 40px;
}

#Attendance{
    padding-left: 10vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-right: 10vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: rgb(215, 185, 149);
    border-style: ridge;
    border-color: var(--main-border-color);
    border-width: 12px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Meeting-Specifics, #Meeting-Content{
    padding: 10vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: rgb(215, 185, 149);
    border-style: ridge;
    border-color: var(--main-border-color);
    border-width: 12px;
    border-radius: 20px;
}

h3:has(+ p){
    font-style: italic;
    &:hover{
        font-style: normal;
    }
}

h3 + p{
    background-color: rgb(169, 140, 109);
    font-style: italic;
    padding: 0.5em;
}

#Comments-Questions-Concerns{
    padding: 10vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: rgb(215, 185, 149);
    border-style: ridge;
    border-color: var(--main-border-color);
    border-width: 12px;
    border-radius: 20px;
    display: grid;
    row-gap: 40px;
}

#Post-Meeting-Survey{
    display: none;
}

@media only screen and (max-width: 600px){
    :root{
        --main-border-color: rgb(98, 59, 27);
    }
}

*{
    font-family: "Happy Monkey", system-ui;
    font-style: normal;
}

