/*name colors*/

#mikey{
    color: rgb(255, 0, 0);
}

#turner{
    color: #2c36c1;
}

#esmee{
    color: hsl(286, 100%, 50%);
}

#ned{
    color: darkorange;
}

#leanne{
    color: color(from rgb(33, 159, 33) xyz x y z);
}

#lilliana{
    color: color-mix(in srgb, red, pink);
}

/*end of name colors*/

:root{
    --main-bg-color: rgb(141, 102, 66);
}

body{
    background-color: var(--main-bg-color);
}

h1{
    font-size: 50px;
    height: 5vh;
}

h2{
    font-size: 40px;
    height: 3vh;
}

h3{
    font-size: 30px;
}

ul{
    font-size: 12pt;
}

ol{
    font-size: 1pc;
}

li{
    font-size: 125%;
}

p{
    font-size: 1.25em;
}

img{
    border-style: ridge;
    border-color: rgb(98, 59, 27);
    border-width: 12px;
    border-radius: 20px;
}

video{
    border-style: ridge;
    border-color: rgb(98, 59, 27);
    border-width: 12px;
    border-radius: 20px;
}

hr{
    background-color: rgb(98, 59, 27);
    border-width: 3px;
    border-color: rgb(98, 59, 27);
}
header{
    margin: 10vh;
}

#Attendance{
    padding-left: 10vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-right: 10vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: rgb(215, 185, 149);
    border-style: ridge;
    border-color: gold;
    border-width: 12px;
    border-radius: 20px;
}

#Meeting-Specifics, #Meeting-Content, #Comments-Questions-Concerns, #Post-Meeting-Survey, nav{
    padding: 10vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: rgb(215, 185, 149);
    border-style: ridge;
    border-color: gold;
    border-width: 12px;
    border-radius: 20px;
}

